body{
    height: 100vh;
    background-color: rgb(49, 81, 82);
    display: flex;
    justify-content: center;
    align-items: center;
}
.cls-1{
    width: 780px;
    padding: 20px 60px 60px 60px;
    display: flex;
    flex-direction: column;
    background-color: rgb(26, 0, 44);
    color: white;
    gap: 50px;
}
.cls-2{
    display: flex;
    gap: 30px;
}
.cls-2 span{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cls-3{
    font-size: 23px;
}
.cls-8{
    background-color: rgb(26, 0, 44);
    border: 1px solid white;
    border-radius: 5px;
    padding: 1px 20px 1px 5px;
}
.cls-9{
    color: white;
    padding: 5px 20px 5px 20px;
    border: 1px solid black;
    border-radius: 5px;
    background: linear-gradient(to right, violet,rgb(77, 43, 77));
}
.cls-10{
    display: flex;
}
.cls-11{
    display: flex;
    gap: 40px;
}
h1{
    font-size: 55px;
}
.cls-12{
    flex: 1;
}
.cls-13{
    flex: 1;
    background-color: #30384D;

}
.cls-15{
    padding: 0px 100px 0px 0px;
}
.cls-16{
    padding: 10px 35px 10px 35px;
    background: linear-gradient(to right, violet,rgb(77, 43, 77));
    border: 1px solid black;
    border-radius: 5px;
}
.cls-17{
    display: flex;
    gap: 50px;
}
.cls-18{
    display: flex;
    flex-direction: column;
}
h2{
    font-size: 35px;
    margin: 0;
    margin-top: 70px;
}
.cls-18 p{
    margin: 5px;
    font-size: 13px;
    margin-top: 0px;
}
.cls-13{
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.cls-19{
    width: 100%;
}
.cls-20{
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
}
.cls-20 img{
    height: 50px;
}
.cls-20 p{
    font-size: 20px;
}
.cls-21{
    display: flex;
    justify-content: space-between;
}
.cls-22 p{
    margin: 0;
    margin-top: 3px;
}
.cls-23{
    font-size: 10px;
    color: rgba(255, 255, 255, 0.236);
}
.cls-24{
    display: flex;
    gap: 60px;
    padding-left: 200px;
    padding-top: 50px;
}
.cls-24 span{
    font-size: 25px;
}
.cls-25{
    color: rgb(72, 72, 72);
}